.post-detail{
    .body{
        padding-top: 30px;
        background-color: rgba(0,0,0,0.1);
        p{
            font-size: 16px;
        }
    }
    .likes{
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        padding: 5px;
        display: flex;
        align-items: center;
        form{
            margin: 0 10px 0 0;
        }
        p{
            margin-bottom: 0;
            font-weight: 700;
        }
    }
}

input[name="posts"]{
    display: none;
}

#like{
    display: none;
}